<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous'/>

  <link rel="stylesheet" href="css/style.css">
  <title>Boolzap</title>
</head>
<body class="bg-grad">

  <div id="app">

    <div class="main-container">

      <div class="lista-contatti">
        <div class="user">
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="Sofia">
            <span>Sofia</span>
          </div>
          <div class="icons">
            <i class="fa-sharp fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <div class="notifiche">
          <div class="ringbell">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <p>Ricevi notifiche di nuovi messaggi <br> <span>Attiva notifiche desktop</span></p>
        </div>
        <div class="ricerca-convesazione">
          <input
            v-model="searchText"
            type="text"
            placeholder="Cerca o inizia una nuova chat">
        </div>
        <div class="container-conversazioni">

          <div
            v-for="contatto in contatti"
            class="chat-aperta"
            @click="apriChat(contatto)">
            <img :src="contatto.avatar" alt>

            <p>{{contatto.name}} <br> <span>Ultimo messaggio inviato</span></p>
          </div>
        </div>
      </div>



      <div class="chat">
        <div class="contact">
          <div class="avatar">
            <img :src="contattoAttivo.avatar" alt="">
            <p>{{contattoAttivo.name}} <br> <span>Ultimo messaggio inviato</span> </p>
          </div>
          <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i> 
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="messaggi">
          <div v-for="message in contattoAttivo.messages">
            <div v-if="message.status === 'sent'" class="messaggio-user">{{message.message}}</div><br>
            <div v-if="message.status === 'received'" class="messaggio-avatar">{{message.message}}</div><br>
          </div>
        </div>
        <div class="text-bar">
          <i class="fa-regular fa-face-smile"></i>
          
          <input
            v-model="messageWrote"
            @keyup.enter="sendMessage"
            type="text"
            placeholder="Scrivi un messaggio">

          <i class="fa-solid fa-microphone"></i>

        </div>
      </div>
    </div>
  </div>




  <script src="js/script.js"></script>
</body>
</html>